/* Make full height layout */
html,
body {
  height: 100%;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Space for fixed navbar */
.app-content {
  flex: 1;
  padding-top: 80px; /* height of navbar */
}

/* Global Container & Fonts */
html {
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(270deg, #1a1a1a, #330000, #660000, #1a1a1a);
  background-size: 600% 600%;
  animation: gradientShift 20s ease infinite;
  padding: 0;
  margin: 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
