/* Global Container & Fonts */
* {
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(270deg, #1a1a1a, #330000, #660000, #1a1a1a);
  background-size: 600% 600%;
  animation: gradientShift 20s ease infinite;
  padding: 0;
  margin: 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
